.card {
  position: relative;

  img {
    width: 100%;
    display: block;
    border: 2px solid var(--white);
    border-radius: 8px;
    transition: all 0.2s ease-in;
  }

  .back,
  .front {
    backface-visibility: hidden;
  }

  .back {
    transform: rotateY(0deg);
    transition-delay: 0.1s;
  }

  .front {
    position: absolute;
    transform: rotateY(180deg);
  }
}

.flipped {
  .back {
    transform: rotateY(180deg);
  }

  .front {
    transform: rotateY(0deg);
    transition-delay: 0.1s;
  }
}
